.header{
    padding: 0 5px;
    margin-bottom: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: white;
    svg{
        height: 28px;
        margin-right: 10px;
        width: 28px;
    }
}
.finished{
    height: 100%;
    display: flex;
    flex-direction: column;
}