{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": ["standard"],
  "rules":{
    "@typescript-eslint/no-non-null-assertion": "off",
    "quotes": [1, "double"]
  }
}