@font-face {
  font-family: "iconfont"; /* Project id 3513258 */
  src: url('iconfont.woff2?t=1657510776487') format('woff2'),
       url('iconfont.woff?t=1657510776487') format('woff'),
       url('iconfont.ttf?t=1657510776487') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gl-videoCamera:before {
  content: "\e9f0";
}

.icon-24gl-play:before {
  content: "\ea6d";
}

