* {
  margin: 0;
  padding: 0;
}
.home {
  margin: 50px auto;
  margin-top: 110px;
  width: 400px;
}
.home img {
  width: 100%;
  height: 200px;
  margin-bottom: 5px;
}
.home h1 {
  text-align: center;
  font-weight: normal;
  font-size: 28px;
  line-height: 42px;
  padding-bottom: 30px;
}
.home .action {
  display: flex;
  align-items: center;
  padding: 0 40px;
  justify-content: space-between;
}
.home .action a:hover {
  color: red;
}
.home .action a {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .action a .big {
  font-size: 36px;
}
.home .action a .small {
  font-size: 18px;
}
.footer {
  padding-top: 80px;
  text-align: center;
}
.footer a {
  text-decoration: none;
  font-size: 13px;
  color: #999;
}
.footer a:hover {
  background-color: red;
  color: white;
}
